<a href="https://colab.research.google.com/github/SLaksh/Python/blob/main/ClassesInPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Before List Comprehension**

In [ ]:
companies = ["Apple", "Intel", "Google", "Microsoft", "Bosch", "Adani", "Accenture"]
newlist = []

for x in companies:
  if "A" in x:
    newlist.append(x)

print(newlist)

['Apple', 'Adani', 'Accenture']

**After List Comprehension**

In [ ]:
companies = ["Apple", "Intel", "Google", "Microsoft", "Bosch", "Adani", "Accenture"]
newlist = [x for x in companies if "A" in x]

print(newlist)

**In defining a LIst**

In [ ]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

**Defining Matrix in List Comprehension**

In [ ]:
matrix = [[j for j in range(3)] for i in range(3)]

print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

**Iterating through string with LIst Comprehension**

In [ ]:
# Empty list
List = []

# Traditional approach of iterating
for character in 'MBA @ CMS is a Celebration in Learning!':
	List.append(character)

# Display list
print(List)

['M', 'B', 'A', ' ', '@', ' ', 'C', 'M', 'S', '.', ' ', 'A', ' ', 'C', 'e', 'l', 'e', 'b', 'r', 'a', 't', 'i', 'o', 'n', ' ', 'i', 'n', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', '!']

**With List Comprehension**

## Nested List

In [ ]:
# Using list comprehension to iterate through loop
List = [character for character in 'MBA @ CMS is a Celebration in Learning!']
 
# Displaying list
print(List)

['M', 'B', 'A', ' ', '@', ' ', 'C', 'M', 'S', ' ', 'i', 's', ' ', 'a', ' ', 'C', 'e', 'l', 'e', 'b', 'r', 'a', 't', 'i', 'o', 'n', ' ', 'i', 'n', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', '!']

**Nested List Comprehension with'if'**

In [ ]:
years = [['January', 'February', 'March'], ['April', 'May', 'June'], ['July', 'August', 'September'],['October','November','December']]
# Nested List comprehension with an if condition
year1 = [years for sublist in years for years in sublist if len(years) <= 5]
print(year1)

['March', 'April', 'May', 'June', 'July']

**Creating a Class**

In [ ]:
class MyClass:
  x =  "I am a Business Analyst"

**Create an Object**

In [ ]:
stud = MyClass()
print(stud.x)

I am a Business Analyst

# **The __init__() Function in Python**

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

.__init__() sets the initial state of the object by assigning the values of the objectâ€™s properties. That is, .__init__() initializes each new instance of the class.

You can give .__init__() any number of parameters, but the first parameter will always be a variable called self

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("James", 26)

print(p1.name)
print(p1.age)

James
26

In [ ]:
class Stack:  # Defining the Stack class.
    def __init__(self): # Defining the constructor function. Parameter to manipulate the object
        print("Hi!")


stack_object = Stack()

**Creating a Class**

In [ ]:
class Person:
    def __init__(self, name, age, profession):
        # data members (instance variables)
        self.name = name
        self.age = age
        self.profession = profession

    # Behavior (instance methods)
    def show(self):
        print('Name:', self.name, 'Age:', self.age, 'Profession:', self.profession)

    # Behavior (instance methods)
    def work(self):
        print(self.name, 'working as a', self.profession)

**Creating an Object**

In [ ]:
steve = Person('Steve', '64', 'Apple-CEO')

**Call the Methods**

In [ ]:
steve.show
steve.work

**All in one place**

In [ ]:
class Person:
    def __init__(self, name, age, profession):
        # data members (instance variables)
        self.name = name
        self.age = age
        self.profession = profession

    # Behavior (instance methods)
    def show(self):
        print('Name:', self.name, 'Age:', self.age, 'Profession:', self.profession)

    # Behavior (instance methods)
    def work(self):
        print(self.name, 'working as a', self.profession)

steve = Person('Steve', '64', 'Apple-CEO')

steve.show()
steve.work()

Name: Steve Age: 64 Profession: Apple-CEO
Steve working as a Apple-CEO

# **Class & Methods**