<a href="https://colab.research.google.com/github/SLaksh/Python/blob/main/FunctionsInPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def printme( mylist ):
   "This changes a passed list into this function"
   mylist.append([1,2,3,4]);
   print ("Values inside the function: ", mylist)
   return
# Now you can call printme function
mylist = [10,20,30];
printme( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [ ]:
# Function definition is here
def printme( mylist ):
   "This changes a passed list into this function"
   mylist = [1,2,3,4]; # This would assig new reference in mylist
   print("Values inside the function: ", mylist)
   return

# Now you can call printme function
mylist = [10,20,30];
printme( mylist );
print( "Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

**Function with Keyword**

In [ ]:
def team(name, project):
    print(name, "is working with", project)

team(project = "Google", name = 'Lakshmi')

Lakshmi is working with Google

# Function with non-named *args

In [ ]:
def team(*members):
    for member in members:
        print(member)
        
team("Shiva", "Vishnu", "Brahma")

Shiva
Vishnu
Brahma

**Function with named variable length**

In [ ]:
def team(*members, **features):
    for member in members:
        print(member)
    
    
    for key,value in features.items():
        print("%s == %s" % (key, value))

team("Brahma " "Vishnu" "Shiva", Project = "Creation", Projectwork = "Protection", Projecttrash = "Destruction")

Brahma VishnuShiva
Project == Creation
Projectwork == Protection
Projecttrash == Destruction

**Function with Default argument**

In [ ]:
def raise_power(number, power = 2):
    """
    Raise number to the power
    
    Parameters
    ----------
    number : int, the number we want to raise
    power : int, default 2, the power we want to use
    """
    return number ** power

print(raise_power(9))
print(raise_power(2))
print(raise_power(2, 3))

81
4
8

**Function call differently**

---

In [ ]:
def print_info(name, position, email):
    print("name:", name)
    print("position:", position)
    print("email:", email)
    
details = ("ML Engineer", "laksh@google.com")
print_info("Laksh", *details)

**Logical Operator**

In [ ]:
# Assigning values to variable
a = True
b = False# Logical and
print('a and b is',a and b)# Logical or
print('a or b is',a or b)# Logical not
print('not a is',not a)

**Logical "And" Operator in String**

In [ ]:
a = ""
b = "Python"
a and b''

''

**Logical "OR" Operator in String**

In [ ]:
a = ""
b = "Python"
a or b

**Bitwise Operators**

In [ ]:
# Assigning values to variables
a = 10
b = 11
# Bitwise AND
print('a & b is',a & b)
# Bitwise OR
print('a | b is',a | b)
# Bitwise XOR
print('a ^ b is',a ^ b)
# Bitwise NOT
print('~a is',~a)
# Bitwise Left Shift
print('a << b is',a << b)
# Bitwise Right Shift
print('a >> b is',a >> b)

a & b is 10
a | b is 11
a ^ b is 1
~a is -11
a << b is 20480
a >> b is 0

**Sorting the list**

In [ ]:
num_list = [1,-5,3,-9,25,10]
num_list.sort()
print(num_list)

**Sort list on absolute values**

In [ ]:
num_list = [1,-5,3,-9,25,10]
def absolute_value(num):
    return abs(num)

num_list.sort(key = absolute_value)
print(num_list)

**The above code in Lambda function**

In [ ]:
num_list = [1,-5,3,-9,25,10]
num_list.sort(key = lambda num: abs(num))
print(num_list)

In [ ]:
def bubble_sort(our_list):
    # We go through the list as many times as there are elements
    for i in range(len(our_list)):
        # We want the last pair of adjacent elements to be (n-2, n-1)
        for j in range(len(our_list) - 1):
            if our_list[j] > our_list[j+1]:
                # Swap
                our_list[j], our_list[j+1] = our_list[j+1], our_list[j]
our_list = [6,7,2,1]
bubble_sort(our_list)
print(our_list)

[1, 2, 6, 7]

**BUBBLE SORT**

In [ ]:
def bubbleSort(list):
    isSwapped = True

    while isSwapped:
        isSwapped = False
        for i in range(len(list) - 1):
            if list[i] > list[i + 1]:
                isSwapped = True
                list[i], list[i+1] = list[i+1], list[i]
  
list = [19, 1, 9, 3, 10, 13]

bubbleSort(list)
print('Sorted array in ascending order:')
print(list)

Sorted array in ascending order:
[1, 3, 9, 10, 13, 19]